<launch>
    <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
    <!-- node parameters -->
    <param name="serial_name" type="string" value="/dev/ttyS0"/>
    <param name="baud_rate" type="int" value="115200"/>
    <param name="app_id" type="int" value="1039512"/>
    <param name="app_version" type="int" value="1"/>
    <param name="align_time" type="bool" value="false"/>
    <param name="enc_key" type="string" value="93d06fd31a2da2559c9977932b0817052f4f50142a68fa70e340ce5ad5803996"/>
    <param name="use_broadcast" type="bool" value="false"/>
    </node>
</launch>
